{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="static/js/form.js"></script> 

<br>
<div class="container">
    <div class="page-header border-bottom">
      <h1>Full Workflow</h1>      
    </div>
</div>
<br>
<div class="container">
       <form>
          <p>Name <input type = "text" name = "Name" ></p>
          <p>Physics <input type = "text" name = "Physics" ></p>
          <p>Chemistry <input type = "text" name = "chemistry" ></p>
          <p>Maths <input type ="text" name = "Mathematics" ></p>
          <p><input type = "submit" id='submit'></p>
       </form>
       RESULT:
       <p id="html_result"> </p>
</div>
<br>
<br>

{% endblock content %}