body {
  background-color: #ADD8E6;
}

.stButton> button {
  color: black;
  border-radius: 50%;
  height: 15em;
  width: 15em;
  background-color: #FFA500;
  box-shadow: 3px 5px 5px #888888;
  transition: all 1s ease;
  transform: scale(1);
  
}

