{% extends "layout.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/file.js') }}"></script>

<br>
<div class="container" >
    <div class="page-header border-bottom">
      <h1 style="font-size:35px;">Full Workflow</h1>      
    </div>
</div>
<br>

<div class="container" >
	
	<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(103, 101, 114); z-index: 30001; opacity: 0.8; display: none;">
		<img src="static/27.gif" style="position: absolute; color: White; top: 50%; left: 45%;" width="60px" height="60px">
	</div>

	<br>
	<!-- gettin input from user -->
	<form id="form_id" enctype = "multipart/form-data" method="POST">
		<div class="custom-file">		 
		<input type="file" class="custom-file-input" id="csvfile" accept=".csv"/ name="file" >
		<label class="custom-file-label" style="font-size:18px;" for="customFile">Choose file</label>
		</div>
	</form>	
	<br>
	<div id="filename" class="alert alert-success" style="display:none; font-size:18px;"></div>
	<button type="button" name="load_data2" id="load_data2" style="font-size:18px;" class="btn btn-info">Load Data</button>
	&nbsp; &nbsp; &nbsp; 
	<button type="button" name="reset_data" id="reset_data" style="font-size:18px;" class="btn btn-info">Reset Data</button>
</div>
<br>
	<div class="container" id="after_load" style="display: none;">
			<div class="table-responsive" id="show_flask_result">
			</div>
			<br>
			
			<div class="field_wrapper" style="display:none" id="drop_down_menu">
				<p class="font-weight-bold mt-3" style="font-size: 18px;"> Select the features in the specified order and other important features for training the Machine learning model. Then, select the Target column (to be predicted) at the end</p>
				<div>
					<p style="display:inline-block;">ID</p>&nbsp;&nbsp;&nbsp;
					<select class="custom-select mt-1" id="feats_options1" style="display:inline-block; width:500px; height:50px;">
						<option>None</option>
					</select>
					<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
				</div>

				<div>
					<p style="display:inline-block;">X</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<select class="custom-select mt-1" id="feats_options2" style="display:inline-block; width:500px; height:50px;">
						<option>None</option>
					</select>
					<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
				</div>

				<div>
					<p style="display:inline-block;">Y</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<select class="custom-select mt-1" id="feats_options3" style="display:inline-block; width:500px; height:50px;">
						<option>None</option>
					</select>
					<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
				</div>
				
				<div style="display:inline-block;">
					<p style="display:inline-block;">R</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<select class="custom-select mt-1" id="feats_options4" style="display:inline-block; width:500px; height:50px;">
						<option>None</option>
					</select>
					<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
				</div>
				
				<div>
					<p style="display:inline-block;">G</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<select class="custom-select mt-1" id="feats_options5" style="display:inline-block; width:500px; height:50px;">
						<option>None</option>
					</select>
					<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
				</div>
				
				<div>
					<p style="display:inline-block;">B</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<select class="custom-select mt-1" id="feats_options6" style="display:inline-block; width:500px; height:50px;">
						<option>None</option>
					</select>
					<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
				</div>
				
				<div style="display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<select class="custom-select mt-1" id="feats_options" style="display:inline-block; width:500px; height:50px;">
						<option>None</option>
					</select>
					<a href="javascript:void(0);" class="add_button mt-3" style="display:inline-block;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
				</div>
			</div>	

			<br>
			<button type="button" name="count_feat" id="count_feat" style="font-size:18px;" class="btn btn-info mt-2">Proceed</button>
			<br><br>

			<div class="ui form" id="yesorno" style="display: none;">
				<div class="inline fields">
				  <label class="font-weight-bold" style="font-size:18px;">Is the aggregate distance pre-calculated?</label>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="yes_distance">
						<label style="font-size:15px;" class="form-check-label" for="inlineRadio1">Yes</label>
					</div>
				  
				  <div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="no_distance">
					<label style="font-size:15px;" class="form-check-label" for="inlineRadio1">No</label>
				  </div>

				</div>
			  </div>
			    
			<div class="table-responsive" id="updated_table_no" style="display:none">
			</div>

			<div class="field_wrapper_1" style="display:none" id="dist_drop_down_menu">
				<p class="font-weight-bold mt-2" style="font-size: 18px;"> Select the Distance column present in input dataset</p>
				<div style="display:inline-block;">
					<select class="custom-select" id="feats_options_yes" style="display:inline-block; width:500px; height:50px;">
						<option>None</option>
					</select>					
				</div>
				<br><br>
				<button type="button" name="dist_column" id="dist_column" style="font-size:18px; display: none;" class="btn btn-info">Select</button>
			</div>		
			<br>
			<div class="table-responsive mt-1" id="updated_table_yes" style="display:none">
			</div>

	
			<div class="custom-control custom-checkbox checkbox-lg" id="enter_ml_box" style="display: none;">
				<input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="enter_ml">
				<label class="custom-control-label font-weight-bold"" style="font-size: 18px;" for="defaultUnchecked">Enter the Machine learning pipeline</label>
			</div><br>
			<!-- Now a conatiner to display all ml learning intermediate and final results -->		
			<div class="ml_workflow" style="display:block" id="ml_workflow">
				<div class="table-responsive mt-1" id="independent_features" style="display:none">
				</div>
				
				<div class="table-responsive mt-1" id="target_feature" style="display:none">
				</div>							
			</div>
			
		<!-- FIRST LIST -->
		<div class="process_options" id="process_options">
			<div>
			 <p class="font-weight-bold mt-2" style="font-size: 18px;"> Check those options to be included while processing input dataset</p> 
			 <div class="funkyradio">
				<div class="funkyradio-primary">
					<input type="checkbox" name="process_options" id="checkbox" value="default_options_all"/>
					<label for="checkbox">All default options</label>
				</div>
			 </div>  
			 <p class="font-weight-bold mt-2" style="font-size: 18px;"> OR </p> 
			   <div class="funkyradio">
				<div class="funkyradio-primary">
					<input type="checkbox" name="process_options" id="checkbox2" value="logperm_gen"/>
					<label for="checkbox2">Logarthmic Permutations</label>
					</div>
				</div>
				<div class="funkyradio">
					<div class="funkyradio-primary">
						<input type="checkbox" name="process_options" id="checkbox3" value="greyscale_gen"/>
						<label for="checkbox3">Greyscale feature generate</label>
						</div>
				</div>
				<div class="funkyradio">
					<div class="funkyradio-primary">
						<input type="checkbox" name="process_options" id="checkbox4" value="cluster_gen"/>
						<label for="checkbox4">Clustering data based on R,G,B and creation of aggregated features</label>
						</div>
				</div>
				<div class="funkyradio">
					<div class="funkyradio-primary">
						<input type="checkbox" name="process_options" id="checkbox15" value="poly_corr_gen"/>
						<label for="checkbox15">Polynomial Feature generation </label>
					</div>
				</div>				

			</div>

			<!-- SECOND LIST -->		
			<div>
				<p class="font-weight-bold mt-2" style="font-size: 18px;"> Check those options to scale and normalize the dataset.
					<i> Note - Only one scaling method is performed on the non-categorical variables by default, you can select multiple options to apply multiple scaling iteratively</i></p> 
				  <div class="funkyradio">
				   <div class="funkyradio-primary">
					   <input type="checkbox" name="process_options" id="checkbox7" value="ss_scale"/>
					   <label for="checkbox7">Standard Scaler</label>
					   </div>
				   </div>
				   <div class="funkyradio">
					<div class="funkyradio-primary">
						<input type="checkbox" name="process_options" id="checkbox21" value="minmax_scale"/>
						<label for="checkbox21">Min-Max Scaler</label>
						</div>
					</div>
					<div class="funkyradio">
						<div class="funkyradio-primary">
							<input type="checkbox" name="process_options" id="checkbox9" value="robust_scale"/>
							<label for="checkbox9">Robust Scaler</label>
						 </div>
					 </div>
					 <div class="funkyradio">
						<div class="funkyradio-primary">
							<input type="checkbox" name="process_options" id="checkbox10" value="power_scale"/>
							<label for="checkbox10">Power Transform (Yeo- Johnson Transform)</label>
						 </div>
					 </div>
			   </div>
   
			   <!-- THIRD LIST -->
			<div>
				<p class="font-weight-bold mt-2" style="font-size: 18px;"> Check those options for Feature transformation</p> 
				 	 <div class="funkyradio">
					<div class="funkyradio-primary">
						<input type="checkbox" name="process_options" id="checkbox20" value="pearson_correl"/>
						<label for="checkbox20">Pearson's correlation feature reduction</label>
					 </div>
					</div>
					<div class="funkyradio">
						<div class="funkyradio-primary">
							<input type="checkbox" name="process_options" id="checkbox16" value="poly_lasso_trans"/>
							<label for="checkbox16">Lasso Feature Reduction</label>
						 </div>
					</div>
				   	<div class="funkyradio">
					   <div class="funkyradio-primary">
						   <input type="checkbox" name="process_options" id="checkbox17" value="pca_trans"/>
						   <label for="checkbox17">Principal Components Extraction</label>
						   </div>
					</div>
			   </div>
			   <button type="button" name="apply" id="apply" style="font-size:18px;" class="btn btn-info">Apply</button>
			</div>
			
			
			<div class="table-responsive mt-3" style="display: none;" id="transformed_data"></div>
			<br>

			<div class="ml_options" id="ml_options">
			<p class="font-weight-bold mt-2" style="font-size: 18px;">Select the appropriate Machine Learning algorithm</p>
			<div style="display:inline-block;">
				<select class="custom-select" id="ml_algo" style="display:inline-block; width:500px; height:50px;">
					<option>None</option>
					<option>Multi-Linear Regression (LR)</option>
					<option>Random Forest Regressor (RF)</option>
					<option>Extreme Gradient Boosting (XGBoost)</option>
					<option>Multi-layer Perceptron (Neural Network)</option>
					<option>Support Vector Regressor (SVR)</option>
					<option>Try all Models</option>
				</select>					
			</div>&nbsp; &nbsp; 
			<br><br>
			<div class="form-group" id="tts" name="tts">
				<p class="font-weight-bold mt-2" style="font-size: 18px;">Enter the percentage (% from 5-95) of data to be split into Train set, the rest would be allotted as Validation set</p>
				<input type="text" style="display:inline-block; width:500px; height:50px;" class="form-control" id="tts_value" placeholder="Train/Test Split Value">			
			<br>
			<button type="button" name="go" id="go" style="font-size:18px;" class="btn btn-info">Go</button>
			</div>

			<div id="after_train_metric_tables" name="post_train_metric_tables">
				<div class="table-responsive mt-3" style="display: none;" id="train_metrics"></div>

				<div class="table-responsive mt-3" style="display: none;" id="validation_metrics"></div>

				<div class="table-responsive mt-3" style="display: none;" id="sample_preds"></div>
				<br>
				<p id="metric_store" class="font-weight-bold mt-2" style="font-size: 18px;"><i>The Training and Validation metrics are saved to the model_files folder</i></p>
			</div>
			

		</div>

	<!-- GRAPHICAL SECTIONS -->
	<div class="custom-control custom-checkbox checkbox-lg" id="show_graphs_div">
		<input type="checkbox" class="custom-control-input" id="defaultUnchecked2" name="show_graphs">
		<label class="custom-control-label font-weight-bold mt-2"" style="font-size: 18px;" for="defaultUnchecked2">Show Actual vs Predicted Depth graph</label>
	</div><br>
	<div class="btn-group" role="group" aria-label="Basic example" id="graph_options" style="display: none;">
		<button type="button" class="btn btn-secondary" name="none" id="none" >None</button>
		<button type="button" class="btn btn-secondary" name="lr" id="lr">Linear Regression</button>
		<button type="button" class="btn btn-secondary" name="svr" id="svr">Support Vector Regressor</button>
		<button type="button" class="btn btn-secondary" name="nn" id="nn">Neural Network</button>
		<button type="button" class="btn btn-secondary" name="rf" id="rf">Random Forest</button>
		<button type="button" class="btn btn-secondary" name="xgb" id="xgb">XGBoost</button>
		<button type="button" class="btn btn-secondary" name="all" id="all">All models</button>
	  </div>
	<div id='graphs' style="display: none;"><!-- Plotly chart will be drawn inside this DIV --></div>

	<br>
	<div class="custom-control custom-checkbox checkbox-lg" id="surface_plot_div">
		<input type="checkbox" class="custom-control-input" id="defaultUnchecked3" name="surface_plot_check">
		<label class="custom-control-label font-weight-bold mt-2"" style="font-size: 18px;" for="defaultUnchecked3">Show surface plots</label>
	</div><br>
	<div id='surface_plot' style="display: none;"><!-- Plotly chart will be drawn inside this DIV --></div>

<!-- FULL RIVER PROCESSING -->
<div class="custom-control custom-checkbox checkbox-lg" id="full_go_div">
	<input type="checkbox" class="custom-control-input" id="defaultUnchecked4" name="full_go">
	<label class="custom-control-label font-weight-bold mt-2"" style="font-size: 18px;" for="defaultUnchecked4">Proceed to Full data predictions</label>
</div><br>

</div>	

<div class="container" id="full_data_process" style="display:none;" >
	<br>
	<h4 style="font-size:30px;" >Full Data Prediction</h4>
	<br>
	<!-- gettin input from user -->
	<form id="full_id" enctype = "multipart/form-data" method="POST">
		<div class="custom-file">		 
			<input type="file" class="custom-file-input" id="full_data-csv" accept=".csv"/ name="full_data-csv" >
			<label class="custom-file-label" style="font-size:18px;" for="customFile">Choose file</label>
		</div>
	</form>
	<br>
	<div id="full_river_filename" class="alert alert-success" style="display:none; font-size:18px;"></div>
	<button type="button" name="load_full_data" id="load_full_data" style="font-size:18px;" class="btn btn-info">Load Data</button>
<br><br>
<div class="table-responsive" style="display: none;" id="full_river_table"></div>
<br>

<button type="button" name="proceed_1" id="proceed_1" style="font-size:18px; display: none;" class="btn btn-info">Proceed</button>

<div class="field_wrapper_full" style="display:none" id="full_drop_down_menu">
	<p class="font-weight-bold mt-3" style="font-size: 18px;">Select the features for predicting in the specified order and other independent variables you selected in model training phase</p>
	
	<div>
		<p style="display:inline-block;">ID</p>&nbsp;&nbsp;&nbsp;
		<select class="custom-select mt-1" id="full_feats_options1" style="display:inline-block; width:500px; height:50px;">
			<option>None</option>
		</select>
		<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
	</div>

	<div>
		<p style="display:inline-block;">X</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<select class="custom-select mt-1" id="full_feats_options2" style="display:inline-block; width:500px; height:50px;">
			<option>None</option>
		</select>
		<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
	</div>

	<div>
		<p style="display:inline-block;">Y</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<select class="custom-select mt-1" id="full_feats_options3" style="display:inline-block; width:500px; height:50px;">
			<option>None</option>
		</select>
		<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
	</div>
	
	<div style="display:inline-block;">
		<p style="display:inline-block;">R</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<select class="custom-select mt-1" id="full_feats_options4" style="display:inline-block; width:500px; height:50px;">
			<option>None</option>
		</select>
		<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
	</div>
	
	<div>
		<p style="display:inline-block;">G</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<select class="custom-select mt-1" id="full_feats_options5" style="display:inline-block; width:500px; height:50px;">
			<option>None</option>
		</select>
		<a href="javascript:void(0);" class="add_button mt-3" style="display:none;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>
	</div>
	
	<div>
		<p style="display:inline-block;">B</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<select class="custom-select mt-1" id="full_feats_options" style="display:inline-block; width:500px; height:50px;">
			<option>None</option>
		</select>
		<a href="javascript:void(0);" class="add_button_full mt-3" id="add_button_full" style="display:inline-block;" title="Add field"><img src="static/add_icon.jpeg" width="35px" height="35px"/></a>		
	</div>
</div>	
<br>

<div class="ui form" id="actual_yesorno" style="display:none;">
	<div class="inline fields">
	  <label class="font-weight-bold" style="font-size:18px;">Is the actual Target variable present?</label>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions2" id="actual_yes">
			<label style="font-size:15px;" class="form-check-label" for="inlineRadio2">Yes</label>
		</div>
	  
	  <div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="inlineRadioOptions2" id="actual_no">
		<label style="font-size:15px;" class="form-check-label" for="inlineRadio2">No</label>
	  </div>
	</div>
</div>
<br>
<div class="field_wrapper_2" style="display:none" id="actual_drop_down_menu">
	<p class="font-weight-bold mt-2" style="font-size: 18px;"> Select the Actual target column</p>
	<div style="display:inline-block;">
		<select class="custom-select" id="actual_feat_options" style="display:inline-block; width:500px; height:50px;">
			<option>None</option>
		</select>					
	</div>
	<br><br>
</div>	

<div style="display:none;" id="ml_algo_div_full">
	<p class="font-weight-bold mt-2" style="font-size: 18px;"> Select the Machine learning model to Predict over the data</p>
	<select class="custom-select" id="ml_algo_full" style="display:inline-block; width:500px; height:50px;">
		<option>None</option>
		<option>Multi-Linear Regression (LR)</option>
		<option>Random Forest Regressor (RF)</option>
		<option>Extreme Gradient Boosting (XGBoost)</option>
		<option>Multi-layer Perceptron (Neural Network)</option>
		<option>Support Vector Regressor (SVR)</option>
	</select>					
</div>
<br>

<button type="button" name="predict" id="predict" style="font-size:18px; display: none;" class="btn btn-info mt-2">Predict</button>
<br>
<div class="table-responsive mt-3" style="display: none;" id="full_preds_sample_table"></div>
<div class="table-responsive mt-3" style="display: none;" id="full_preds_metrics_table"></div>

<div id="model_save_div" style="display: none;">
	<div class="custom-control custom-checkbox checkbox-lg" id="model_save_div2" >
		<input type="checkbox" class="custom-control-input" id="defaultUnchecked5" name="model_save">
		<label class="custom-control-label font-weight-bold"" style="font-size: 18px;" for="defaultUnchecked5">Want to save the model files and Full data Prediction file in a folder for future reference ? <i>NOTE: The model(s) used for training will be saved, not the model selected for Full data prediction</i></label>
	</div>
	<br>
<input type="text" style="display:none; width:500px; height:50px;" class="form-control" id="model_save_loc" placeholder="Enter a Name for the folder">
<button type="button" name="save_files" id="save_files" style="font-size:18px; display: none;" class="btn btn-info mt-2">Save files</button>
</div>



</div>
<br>
<br>


{% endblock content %}