{% extends "layout.html" %}
{% block content %}

<!-- Jumbotron -->
<div class="card card-image shadow p-3 mb-5 bg-white rounded " style="background-image:url(static/bg_home.png);">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
  
        <!-- Content -->
        <h2 class="card-title h2 my-4 py-2" style="color:whitesmoke; font-size: 35px;"><strong>Welcome </h2></strong>
        <p class="mb-4 pb-2 px-md-5 mx-md-5 bg" style="color:whitesmoke; font-size: 20px;">Optical Bathymetry toolkit is an intitiative to investigate the potential to generate a bathymetric DEM (digital elevation model) of rivers using only aerial imagery from UAVs and aeroplane imagery, by using ground survey(boat like) as calibration data. Although simple mathematical equation can find depth from simple DEMs, deep waters and noisier calibration data makes it hard for manual processing. By Deep Exploratory Data Analysis, we extract the relationship between R,G,B pixel values and various other generated features to predict/estimate the depth values by leveraging powerful Machine Learning Algorithms</p>
  
      </div>
    </div>
  </div>
  <br>
  <br>
  <!-- Jumbotron -->

<!-- Routing cards -->
<br>
<div class="card-deck px-lg-5">
  <div class="card shadow-lg">
    <div class="embed-responsive embed-responsive-16by9">
    <img class="card-img-top embed-responsive-item" src="static/full_work.jpeg"></div>
    <div class="card-body" style="background: radial-gradient(circle, rgba(238,174,202,1) 1%, rgba(0,18,207,0.7483368347338936) 55%);" >
      <h3 class="card-title  " style="color: whitesmoke;"><strong>FULL WORKFLOW</h3></strong>
      <p class="card-text" style="color: whitesmoke; font-size: 15px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <i class="fa fa-toggle-on "></i> 
      <small class="text" style="color: green;">Active</small>
      <a class="btn-floating living-coral float-right" href='/full_workflow'><i class="fa fa-arrow-circle-right fa-4x"></i></a>
    </div>
  </div>

  <div class="card shadow-lg">
    <div class="embed-responsive embed-responsive-16by9">
    <img class="card-img-top embed-responsive-item" src="static/simple.png"></div>
    <div class="card-body" style="background: radial-gradient(circle, rgba(238,174,202,1) 1%, rgba(0,18,207,0.7483368347338936) 55%);" >
      <h3 class="card-title  " style="color: whitesmoke;"><strong>SIMPLIFIED WORKFLOW</h3></strong>
      <p class="card-text" style="color: whitesmoke; font-size: 15px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <i class="fa fa-toggle-on "></i> 
      <small class="text" style="color: green;">Active</small>
      <a class="btn-floating living-coral float-right" href='/simplified_workflow'><i class="fa fa-arrow-circle-right fa-4x"></i></a>
    </div>
  </div>

  <div class="card shadow-lg">
    <div class="embed-responsive embed-responsive-16by9">
    <img class="card-img-top embed-responsive-item" src="static/pretrained.jpeg"></div>
    <div class="card-body" style="background: radial-gradient(circle, rgba(238,174,202,1) 1%, rgba(0,18,207,0.7483368347338936) 55%);" >
      <h3 class="card-title  " style="color: whitesmoke;"><strong>APPLY PRE-TRAINED MODEL</h3></strong>
      <p class="card-text" style="color: whitesmoke; font-size: 15px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <i class="fa fa-toggle-on "></i> 
      <small class="text" style="color: green;">Active</small>
      <a class="btn-floating living-coral float-right" href='/pretrained_model'><i class="fa fa-arrow-circle-right fa-4x"></i></a>
    </div>
  </div>
</div>

<br>
<div class="card-deck px-lg-5">
  <div class="card shadow-lg">
    <div class="embed-responsive embed-responsive-16by9">
    <img class="card-img-top embed-responsive-item" src="static/smoothing.gif"></div>
    <div class="card-body" style="background: radial-gradient(circle, rgba(238,174,202,1) 1%, rgba(0,18,207,0.7483368347338936) 55%);" >
      <h3 class="card-title  " style="color: whitesmoke;"><strong>APPLY SMOOTHING ALGORITHM</h3></strong>
      <p class="card-text" style="color: whitesmoke; font-size: 15px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <i class="fa fa-toggle-on "></i> 
      <small class="text" style="color: green;">Active</small>
      <a class="btn-floating living-coral float-right" href='/smoothing_algorithm'><i class="fa fa-arrow-circle-right fa-4x"></i></a>
    </div>
  </div>

  <div class="card shadow-lg">
    <div class="embed-responsive embed-responsive-16by9">
    <img class="card-img-top embed-responsive-item" src="static/visualization.png"></div>
    <div class="card-body" style="background: radial-gradient(circle, rgba(238,174,202,1) 1%, rgba(0,18,207,0.7483368347338936) 55%);" >
      <h3 class="card-title  " style="color: whitesmoke;"><strong>VISUALIZE RIVER TRENDS</h3></strong>
      <p class="card-text" style="color: whitesmoke; font-size: 15px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <i class="fa fa-toggle-on "></i> 
      <small class="text" style="color: green;">Active</small>
      <a class="btn-floating living-coral float-right" href='/river_trend_visuals'><i class="fa fa-arrow-circle-right fa-4x"></i></a>
    </div>
  </div>

  <div class="card shadow-lg">
    <div class="embed-responsive embed-responsive-16by9">
    <img class="card-img-top embed-responsive-item" src="static/spark_effi.png"></div>
    <div class="card-body" style="background: radial-gradient(circle, rgba(238,174,202,1) 1%, rgba(0,18,207,0.7483368347338936) 55%);" >
      <h3 class="card-title  " style="color: whitesmoke;"><strong>SPARK EFFICIENT COMPUTATION</h3></strong>
      <p class="card-text" style="color: whitesmoke; font-size: 15px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <i class="fa fa-toggle-off "></i> 
      <small class="text" style="color: red;">Inactive</small>
      <a class="btn-floating living-coral float-right" href='/spark_workflow'><i class="fa fa-arrow-circle-right fa-4x"></i></a>
    </div>
  </div>

</div>    
<br>
<br>
<!-- Routing cards -->

{% endblock content %}