<!DOCTYPE html> 
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="static/main.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.2.0/papaparse.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.2.0/papaparse.js"></script>

    
    
    {% if title %}
        <title>{{title}}</title>
      {% else %}
        <title>Flask blog</title>  
    {% endif %}  
    
    <!-- add icon link -->
    <link rel = "icon" href = "static/logo2.png" type = "image/x-icon">

    </head>

 <body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="https://www.landriversea.com/">
          <img class="img-responsive" width="190px" height="70px" src="{{ url_for('static', filename='LRS_logo.jpeg') }}">
      </a>
      <a class="navbar-brand" style="color:whitesmoke; font-size:200%" >OPTICAL BATHYMETRY TOOLKIT</a>
      <a class="navbar-brand" style="color:whitesmoke; font-size:100%" href="/" >HOME</a>
      <a class="navbar-brand" style="color:whitesmoke; font-size:100%" href="/">ABOUT</a>
      <a class="navbar-brand" style="color:whitesmoke; font-size:100%" href="/">PREVIOUS RESULTS</a>    
      <a class="navbar-brand" style="color:whitesmoke; font-size:100%" href="/">LOGOUT</a>   
          
  </nav>

</header>

<content>
{% block content %}{% endblock %}
</content>

  <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4 bg-dark mt-auto">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:whitesmoke; font-size: 25px;">Land River Sea Consulting Ltd</h5>
          <p style="color:whitesmoke; font-size: 15px;">Specialist engineers with a focus on river and water resources engineering. We provide state of the art, cost effective and timely solutions</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:whitesmoke; font-size: 25px;">Address</h5>
  
          <ul class="list-unstyled">
            <li>
              <p style="color:whitesmoke; font-size: 15px;">
                <i class="fa fa-home mr-3" style="color:whitesmoke;"></i> 5 Achilles Street, Burwood, Christchurch 8061, New Zealand</p>
            </li>
            <br>
            <li>
              <p style="color:whitesmoke; font-size: 15px;">
                <i class="fa fa-envelope mr-3" style="color:whitesmoke;"></i> matthew@landriversea.com</p>
            </li>
            <br>
            <li>
              <p style="color:whitesmoke; font-size: 15px;">
                <i class="fa fa-phone mr-3" style="color:whitesmoke;"></i> +64 27 318 9527</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-2" href="#">
          <i class="fa fa-facebook-f fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="#">
          <i class="fa fa-twitter fa-2x"> </i>
        </a>
      </li>
  
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/company/land-river-sea-consulting/">
          <i class="fa fa-linkedin fa-2x"> </i>
        </a>
      </li>
  
    </ul>
  
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color:whitesmoke">© 2020 Copyright: Land River Sea Consulting
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->  

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class='alert alert-{{ category }}'>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
</main>


 </body>   
 </html>
  
    